/* Hizki mota berriak sartu */
@font-face {
    font-family: 'LaTeX';
    src: url('../fonts/cmunbi.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
}

.menua {
    margin: 0px; 
    width: 15%; 
    float: left; 
    height: 100%;
    background-color: #d9d9d9;

}

#nabigazioa {
    margin: 0px; 
    padding: 0px; 
    width: 85%; 
    float: right;
}

#orria {
    float: right;
    width: 85%;
    margin-top: 130px;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 20px;
}

#page {
    margin-top: 90px;
}

.register-form .tituloa{
    width: 65%;
    float: left;
}

.register-form button{
    width: 35%;
    float: right;
}

.login button{
    vertical-align: right;
}

/* Tamaina txikiko pantailetan, mugikorrak adibidez */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    .menua {
        /*display: none;*/
        width: 100%;
        height: 150px;
        float: none;
    }

    #nabigazioa {
        padding-top: 150px;
        width: 100%;
        float: none;
    }

    #orria {
        padding-top: 151px;
        padding-left: 0px;
        margin-left: 30px;
        width: 100%;
        float: none;
    }
}