/* Hizki mota berriak sartu */
@font-face {
    font-family: 'LaTeX';
    src: url('../fonts/cmunbi.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
}

.menua {
    margin: 0px; 
    width: 15%; 
    float: left; 
    height: 100%;
    background-color: #d9d9d9;

}

#nabigazioa {
    margin: 0px; 
    padding: 0px; 
    width: 85%; 
    float: right;
}

#orria {
    font-family: LaTeX;
    float: right;
    width: 85%;
    margin-top: 130px;
    padding-left: 40px;
    padding-right: 30px;
    margin-bottom: 20px;
}

/* Tamaina txikiko pantailetan, mugikorrak adibidez */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    .menua {
        display: none;
    }

    #nabigazioa {
        width: 100%;
    }

    #orria {
        padding-left: 0px;
    }
}